.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../Components/payments.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.payment-form {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}
.payment-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.pay-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pay-button:hover {
    background-color: #45a049;
}
